.initLoading {
    padding-top: 15%;
    padding-inline: 6%;
    text-align: center;
  }


  .destTotalMat{
    background-color: rgb(244, 207, 117);
    border-radius: 5px;
    padding: 2px;
    font-size: 1.05rem;
  }